<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
<section class="container">
    <div class="top_menu">
        <div></div>
        <div><a class="enlace" href="/admin"><span>&#10140;</span> Admin</a></div>
    </div>

   <section>
       <article class="article">
           <h1 class="article_title">Pelé {{ id_player }} </h1>
           <div>
               <img src="http://soccer-europe.com/images/Pele_latinosinlondon_wordpress_com.jpg" 
                    alt=""
                    class="img_responsive"
                    />
           </div>
           <div>
                <div class="features">
                    <h5>Nombre : </h5>
                    <p>Edson Arantes do Nascimento</p>
                    <h5>Mundiales ganados: </h5>
                    <p>5</p>
                    <h5>Copas Ganadas : </h5>
                    <p>5</p>
                    <h5>Goles con su camisea :</h5>
                    <p>200</p>
                    
                </div>
           </div>
          
           <div>
                   <h5>Historia:</h5>
                   <p>
                       Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem eaque, eius maiores illum enim blanditiis deserunt. Atque ut quas, consectetur modi quidem perspiciatis doloremque sapiente laborum, mollitia quibusdam a, repudiandae.
                   </p>
           </div>
           <div>
               <h5>Premios recividos : </h5>
               <ul>
                   <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </li>
                   <li>Sit architecto, omnis perspiciatis animi unde aspernatur. </li>
                   <li>officia perferendis quod corporis nihil.</li>
                   <li>tempore amet itaque iure quisquam, iste tempora cum ipsam quia.</li>
               </ul>
           </div>
       </article>
   </section>
</section>
    
</body>
</html>