<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
<section class="container">
    <div class="top_menu">
        <div></div>
        <div><a class="enlace" href="/"><span>↩</span> Inico</a></div>
    </div>

   <section>

       <article class="article">
           <!--Apodo -->
           <h1 class="article_title">
               {% if vistas[0][0] == 1 %} 
                    {{data[1]}}
               {% else %}
                    <span class="oculto"> oculto </span>
               {% endif %}
            </h1>
           <!-- fin de apodo-->

           <!-- Imagen -->
           <div>
               {% if data[7] == None or data[7] == "" or vistas[6][0] == 0 %}
               <img src="../static/imagenes/sin_imagen.jpg" 
                    alt=""
                    class="img_responsive"
                    />
               {% else %}
               <img src="../static/imagenes/{{ data[7] }}" 
                    alt=""
                    class="img_responsive"
                    />
               {% endif %}
           </div>
           <!--fin de imagen-->
           <div>
                <div class="features">
                    <h5>Nombre : </h5>
                    <p>
                        {% if vistas[1][0] == 1 %}
                            {{ data[2] }}
                        {% else %}
                            <span class="oculto"> oculto </span>
                        {% endif %}
                    </p>
                    <h5>Mundiales ganados: </h5>
                    <p>
                        {% if vistas[2][0] == 1 %}
                            {{ data[3] }}
                        {% else %}
                            <span class="oculto"> oculto </span>
                        {% endif %}  
                    </p>
                    <h5>Copas Ganadas : </h5>
                    <p>
                        {% if vistas[3][0] == 1 %}
                            {{ data[4] }}
                        {% else %}
                            <span class="oculto"> oculto </span>
                        {% endif %}
                    </p>
                    <h5>Goles con su camisea :</h5>
                    <p>
                        {% if vistas[4][0] == 1 %}
                            {{ data[5] }}
                        {% else %}
                            <span class="oculto"> oculto </span>
                        {% endif %}
                    </p>
                    
                </div>
           </div>
          
           <div>
                   <h5>Historia:</h5>
                   <p>
                        {% if vistas[5][0] == 1 %}
                            {{ data[6] }}
                        {% else %}
                            <span class="oculto"> oculto </span>
                        {% endif %}
                   </p>
           </div>
           <div>
               <h5>Premios recibidos : </h5>
                {% if vistas[7][0] == 1 %}
                   <textarea class="texto_disable" disabled cols="30" rows="10">{{data[8]}}</textarea>
                {% else %}
                    <span class="oculto"> oculto </span>
                {% endif %}
               
           </div>
       </article>
   </section>
</section>
    
</body>
</html>